name: Push a new commit with inline translations on cms files

on:
  push:
  pull_request:
    branches-ignore:
      - main

jobs:
  commit-inline-translations:
    runs-on: ubuntu-latest

    permissions:
      # Give the default GITHUB_TOKEN write permission to commit and push the
      # added or changed files to the repository.
      contents: write

    steps:
      - uses: actions/checkout@v4

      - name: Use Node.js
        uses: actions/setup-node@v2
        with:
          node-version: "20.x"

      - name: Install dependencies
        run: yarn install --frozen-lockfile

      - name: Add inline translations
        run: yarn inline-translations

      - uses: stefanzweifel/git-auto-commit-action@v5
